.scroll-to-top-btn {
    position: fixed;
    bottom: 30px;
    right: 20px;
    display: none;
    background-color: #00d3d4;
    color: #fff;
    border: none;
    padding: 15px 22px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    outline: none;
  }
  
  .scroll-to-top-btn.visible {
    display: block;
    z-index: 999;
  }
  @media screen and (max-width:768px){
    .scroll-to-top-btn{
      font-size: 15px;
      right: 40px;
      bottom:20px;
    }
    
  }