* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}
.sidebar-left img {
  margin: -20px 70px;
}
.sidebar-left a {
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
  text-align: start;

}
.sidebar-left a h5 {
  margin: 20px 110px;
  font-weight: 600;
  position: relative;
}
.sidebar-left .accordion {
  --bs-accordion-border-width: none;
  margin-left: 90px;
}

.sidebar-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sidebar-left .accordion-button{
  font-weight: 600;
  font-size: 20px;
}
.sidebar-left .accordion-button::after{
  margin-left: 10px;
}
.sidebar-left .accordion-body{
  display: flex;
  flex-direction: column;
}
.sidebar-left .accordion-body a{
  margin-bottom: 5px;
}
.sidebar-left .input-group{
  width: 80%;
  margin-left: 50px;
}
.sidebar-left .input-group input{
  --bs-border-radius:none;
}
.sidebar-left .input-group button{
  --bs-btn-border-radius:none;
  background-color: #646464;
  --bs-btn-active-bg:#ff9800;
  --bs-btn-active-border-color:none;
}