* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
.sub-blog img {
  width: 80%;
}

.news-content .title-detail {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.news-content img {
  width: 80%;
  height: auto;
  margin: 0 100px;
  margin-bottom: 10px;
}
.news-content p{
  margin: 0 120px;
  margin-bottom: 10px;
}
.news-content h5{
  margin: 10px 120px;
}
.userdetail{
  margin: 10px 120px;
}
.sub-blog .title h4{
  margin: 10px 100px;
}
