.card4 {
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}
.card4:hover {
  transform: scale(1.1);
}
.card4 a {
  text-decoration: none;
  color: black;
}
.card4 .card {
  border: none;
  background-color: #fff;
  box-shadow: 0 4px 8px #0000001a;
}
.card4 .card .card-body {
  width: 95%;
  padding: 0;
  margin-top: 10px;
  transform: translateX(10px);
}
@media screen and (max-width: 576px) {
  .card4 .card .card-title {
    font-size: 15px;
  }
}
