* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Inter", sans-serif;
}
.new-arrivals {
  margin: 20px 0;
  padding: 0 20px 20px;
  border-radius: 5px;
}
.home-content{
  margin-top: 150px;
  padding: 20px;
}
.home-content .row .col-12 {
  margin-bottom: 20px;
}
.home-content h3 {
  color: black;
  width: 50%;
  margin: 20px auto;
  text-align: center;
  font-weight: 700;
  padding: 20px;
  position: relative;
}
.home-content h3::after{
  content: " ";
  left: -50%;
  bottom: 0;
  position: absolute;
  height: 1px;
  width: 200%;
  background-color: #59d0f8;
}
.home-content .more{
  margin-top: 10px;
  text-align: center;
}
.home-content .more a{
  border-radius: 5px;
  padding: 10px;
  background-color: #0846CC;
  text-decoration: none;
  color: white;
  padding-bottom: 10px;
}
.home-content .sale-off img{
  width: 70%;
  margin: 30px 150px;
}
.featured-collection {
  margin: 50px 0;
  padding: 0 15px 20px;
  border-radius: 5px;
}
.home-content .blog{
  margin-top: 40px;
  padding: 15px;
  border-radius: 5px;
}
.home-content .blog .card-text{
  text-align: start;
}
.product-list-home{
  margin-left: -30px;
  padding: 10px;
}
.home-content .blog .title{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #01d3d4;
  margin-bottom: 20px;
}
.home-content .blog .title a{
  text-decoration: none;
  color: black;
}
.home-content .blog .title a svg{
  margin: -5px 5px 0;
}
.home-content .blog .title a span{
  font-weight: 400;
}
.home-content .button{
  display: none;
}
@media screen and (max-width:768px) {
  .home-content .button{
    display: block;
  }
  .home-content .button .add{
    margin-top: 20px;
  }
  .home-content .button .buy{
    width: 200px;
  }
  .home-content .button button{
    background-color: white;
    border: 1px solid black;
    color: black;
  }
  .home-content .row .col-12 {
    margin-bottom: 20px;
  }
  .home-content .blog .title a{
    font-size: 12px;
    margin-top: 5px;
  }
}




