* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
.title-contact {
  text-align: center;
  margin-bottom: 50px;
}
.form {
  width: 60%;
  margin: 0 auto;
}
.contact-form .btn{
    width: 30%;
    padding: 10px;
    background-color: #FF6B03;
    border: none;
    outline: none;
    margin: 20px 38%;
}
.contact-form{
  margin-top: 100px;
}
