* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}
.detail {
  background-color: #dddddd;
  padding: 20px;
  max-width: 100%;
}
.detail .product-info {
  display: flex;
  align-items: center;
  margin-left: -10px;
}
.detail .product-info img {
  width: 65px;
  margin: 20px 10px;
  padding: 5px;
  border-radius: 5px;
}
.detail .product-info input {
  margin-top: 55px;
}
.detail .count span.qty {
  padding: 10px;
}
.detail .col-3:nth-child(2) h6{
  margin-top: 15px;
}
.detail .delete button {
  margin: 15px 20px;
  text-align: center;
  background-color: red;
  border: none;
  cursor: pointer;
}
.detail .delete button:hover {
  background-color: white;
  color: red;
}
.detail .review > p:last-child {
  margin-top: -10px;
}
.detail .btn-group {
  background-color: white;
  margin-top: 15px;
}
.detail .btn-group button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  
}
@media screen and (max-width: 540px) {
  .detail .product-info .text-center .col .form-check {
    width: 80px;
  }
  .detail .product-info .text-center .col {
    width: 130px;
    padding: 15px;
  }
  .detail .product-info {
    margin-left: -15px;
  }
  .detail .product-info h6 {
    font-size: 10px;
  }
  .detail .product-info input {
    margin-top: 20px;
  }
  .detail .product-info img {
    width: 100%;
    margin: 0 5px 0;
  }
  .detail p {
    font-size: 8px;
  }
  .detail .col-3:nth-child(2) h6 {
    font-size: 10px;
    align-items: center;
    margin-top: 30px;
  }
  .detail .col-2:nth-child(3) button {
    width: 20px;
    height: 30px;
    margin-left: -23px;
    padding-bottom: 20px;
  }
  .detail .count span.qty {
    font-size: 10px;
    padding: 3px;
    margin-top: 5px;
  }
  .detail .count span.plus,
  .detail .count span.minus {
    margin-top: -15px;
  }
  .detail .col-1:last-child .delete {
    text-align: start;
  }
  .detail .col-1:last-child .delete button {
    font-size: 12px;
    margin: 15px 0 0 -10px;
  }
}
